#wrapper {
  width: 1000px;
  height: 500px;
  background-color: aquamarine;
  margin: auto;
  position: relative;
}

#hero {
  width: 50px;
  height: 50px;
  background-color: black;
  /* position: absolute;
  top: 0;
  left: 0; */
}

#enemy {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  bottom: 0;
  right: 0; 
};

/* .newEnemy  {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red; */
  /* position: absolute;
  bottom: 0;
  right: 0;  
};*/

